.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9f9;
}
.mainArea {
  background-color: #fff9f9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.mainForm {
  border-radius: 5px;
  height: inherit;
  padding: 10px;
}

.line {
  height: 30px;

  border: 1px solid #999999;
}

.customInput {
  background-color: #edecec;
  padding: 10px 10px;
  border-radius: 25px;
  margin: 0 15%;
  max-width: 70%;
}
.customInput input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
}

.customBtn {
  background-color: #b96d37;
  padding: 15px 20px;
  width: 190px;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  color: #fff9f9;
  border: none;
}
.customBtn:hover {
  background-color: #b96d37da;
}
.err {
  color: red;
  font-size: 12px;
}
