.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9f9;
}
.main-form {
  width: 450px;
  border-radius: 5px;
  height: 300px;
  padding: 10px;
}
.error {
  font-size: 10px;
  color: red;
}
