.header {
  height: 8vh;
  border-bottom: 1px solid #999;
  background-color: #fff9f9;
}
.activeLink {
  text-decoration: none;
  color: #b96d37;
  font-weight: 600;
}
.inactiveLink {
  color: #3a3a3a;
  text-decoration: none;
}
.activeLink:hover {
  color: #b96d37da;
}
.inactiveLink:hover {
  color: #b96d37;
}
