.customInp {
  width: 100%;
  background-color: #edecec;
  padding: 10px;
  border: none;
  outline: none;
}
.customRow {
  padding-bottom: 8px;
  border-bottom: 1px solid #d6d5d5;
}
.defaultBtn {
  position: absolute;
  background-color: #b96d37;
  padding: 4px;
  color: white;
  top: 20%;
  right: 20px;
  font-size: 12px;
}
.mh44 {
  min-height: 44px;
  background-color: #edecec65;
}
